@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan+SC&display=swap');


/* font-family: "Bebas Neue", sans-serif;
  font-family: "Poppins", sans-serif;

*/
:root {

    --tipografia: 'Sedan SC', serif;
    --colorFondo: #052646;
    --colorClaro: #04293A;
    --colorTexto: #badce2;
    --colorContraste: #65d6e5;
    --colorContraste2: #ac1fe4;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {

    font-family: "Poppins", sans-serif;

    background-color: var(--colorFondo);
}

/* AQUI EMPIEZA HEADER */
/* AQUI EMPIEZA HEADER */
img {
    max-width: 100%;
}

.contenedor {

    max-width: 1000px;
    margin: 0 auto;
}

/* MENU DE NAVEGACION */
/* MENU DE NAVEGACION */
/* MENU DE NAVEGACION */
/* MENU DE NAVEGACION */

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* }space between para separarlos */
.logo {
    color: rgb(54, 239, 239);
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;

}

.navbar {
    --mdb-navbar-box-shadow: 0
}

.menu .navbar ul li {
    position: relative;
    float: left;


}


.menu .navbar ul li a span {
    color: var(--colorContraste2);
}


.menu .navbar ul li a {

    font-size: 18px;
    padding: 15px;
    color: var(--colorTexto);
    display: block;
    font-weight: 600;
    transition: all 0.8s ease;

}


.menu .navbar ul li a:hover {

    padding: 5px 10px;
    background: white;
    color: var(--colorFondo);
    border-radius: 15px;
}

#menu {

    display: none;
}

.menu-icono {

    width: 25px;

}

.menu label {
    cursor: pointer;
    display: none;
    /* icono de menu se muestra cuando la pagina deja el modo escritorio(responsive) */
}


/* AQUI EMPIEZA EL HEADER */
/* AQUI EMPIEZA EL HEADER */
/* AQUI EMPIEZA EL HEADER */
/* AQUI EMPIEZA EL HEADER */
.header {

    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 50px 0 0 0;
}


.header-contenido {
    display: flex;
    gap: 120px;
    flex: 1;
    justify-content: space-between
}

.header-texto {
    flex-basis: 50%;
    margin-top: 100px;

}




.header-texto h1 {
    font-size: 100px;
    color: var(--colorTexto);
    line-height: 1;
    font-family: "Bebas Neue", sans-serif;
    margin: 10px 0 25px 0px;
}

.header-texto .escribiendo {
    display: block;

    white-space: nowrap;
    width: 9ch;
    font-size: 100px;
    font-size: 40px;
    font-weight: 600;
    color: var(--colorContraste2);


    animation: typing 2s steps(9), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0
    }
}








/* AQUI EMPIEZA LA CONFIGURACION DE MIS BOTONES ANIMADOS */
/* AQUI EMPIEZA LA CONFIGURACION DE MIS BOTONES ANIMADOS */
.btn-1 {

    display: inline-block;
    padding: 13px 35px;
    background: linear-gradient(90deg,
            rgb(65, 20, 77) 0%,
            rgb(154, 37, 221) 100%);
    color: var(--colorTexto);
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 17px;
}


/* CONTENEDOR DE LOGO DE GIT Y RESUME */

.btn {
    margin-top: 20px;
    border-radius: 5%;

    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: solid;
    color: white;
    letter-spacing: 5px;
    transition: all 2s ease;
    --mdb-btn-box-shadow: 0 4px 9px -4px #3b71ca;
    box-shadow: 6px 9px 9px -4px #3b71ca;
}


.boton-cv img {
    width: 40px;
    height: 40px;


}

.imgimgimg {
    background-color: #e4fcff;
    border: solid 5px rgb(255, 255, 255);
}

.imgimgimg2 {
    border: solid 5px rgb(255, 255, 255);
    ;
}



.boton-cv {
    width: 40%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 80px -80px 0 100px;


    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

/*CONFIGURACION DE ANIMACION DE BOTONES*/
/*CONFIGURACION DE ANIMACION DE BOTONES*/
/*CONFIGURACION DE ANIMACION DE BOTONES*/
.btn-2 {
    border: 3px solid;

}

.btn-2:hover {
    background-color: var(--colorFondo);
    box-shadow: 0 0 20px var(--colorContraste);
    border-color: var(--colorContraste);
}

.btn-2 span:nth-child(n) {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 3px solid;
    transition: all 0.6s ease-in-out;

}

.btn-2 span:nth-child(1) {
    right: 10%;
    top: -10%;
    background-color: #ffffff;

}

.btn-2 span:nth-child(2) {
    left: 5%;
    bottom: -10%;
    background-color: #ffffff;
}

.btn-2:hover span:nth-child(1) {
    background-color: var(--colorContraste);
    color: var(--colorContraste);
    right: 80%;
    transform: rotate(90deg);
}

.btn-2:hover span:nth-child(2) {
    background-color: var(--colorContraste);
    left: 80%;
    color: var(--colorContraste);
    transform: rotate(90deg);
}

.btn-3 {

    border: solid 3px var(--colorTexto);
    overflow: hidden;

}

.btn-3::after {

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(43, 226, 220);
    z-index: -2;





}

.btn-3::before {

    border: solid rgb(255, 255, 255);
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0%;
    bottom: -150%;
    border-radius: 30%;
    background-color: var(--colorFondo);
    z-index: -1;




}



.btn-3:hover::before {

    animation: btn-3 2s linear both;
    animation-duration: 3s;
    /* cuantas veces queremos que se repita la animación */
    animation-iteration-count: infinite;
    /* forma en que queremos que se de el movimiento */
    animation-timing-function: ease-in-out;
    /* dirección de mi animación */
    animation-direction: alternate;
}

@keyframes btn-3 {
    0% {
        transform: rotate(0deg);


    }


    100% {
        transform: rotate(360deg);
    }
}

.boton:hover {
    border: solid white;
    color: rgb(255, 255, 255);

}

.tonbo:hover {
    color: white;
}


.about {

    padding: 80px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MI FOTO DE PERFIL Y EL TEXTO VINCULADO A ELLA */

.about-img {
    flex-basis: 40%;


}

.about-img img {
    width: 300px;
    border-radius: 100%;
    border: 10px solid rgb(141, 138, 169);

}

.about-texto {
    justify-content: center;
    text-align: center;
    margin: 0 20px 0 3px;
    flex-basis: 60%;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--colorContraste);
    margin-bottom: 20px;
    /* cambio */
}

.about-texto p {
    color: #868b9e;
    font-size: 17px;
    margin-bottom: 50px;
}

.botones a {

    margin-right: 15px;
}




/* aqui empieza MAIN  */
/* aqui empieza MAIN  */
/* aqui empieza MAIN  */
/* aqui empieza MAIN  */
/* aqui empieza MAIN  */

.portafolio.contenedor {
    width: 50%;


}

.portafolio {
    padding: 50px 0;
    text-align: center;


}

.portafolio-contenido {
    border-radius: 20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
    position: relative;
    align-items: center;
    gap: 20px;
    background-color: #00000033;



}

.portafolio-texto {
    flex-basis: 50%;
    text-align-last: auto;
    margin-bottom: 50px;
}


.portafolio-texto h3 {

    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding: 5px 10px;

}


.portafolio-texto p {
    font-size: 15px;
    color: var(--colorTexto);
    margin-bottom: 25px;
}

.portafolio-img {
    margin: 0 auto;
    flex-basis: 50%;
    display: grid;
    width: 80%;
    height: 80%;
}

.fashion-img,
.laptop-img,
.tienda-img {
    border: solid 5px white;

}

.image1 {

    grid-row: 1/2;
    grid-column: 1/3;

}


.image2 {
    grid-row: 2/3;
    grid-column: 1/2;

}

.image3 {
    grid-row: 2/3;
    grid-column: 2/3;
}


.portafolio-img img {
    width: 100%;
    height: 100%;
}



/* seccion SKILLS */
/* seccion SKILLS */
/* seccion SKILLS */
/* seccion SKILLS */
/* seccion SKILLS */
/* seccion SKILLS */

.habilidades {
    padding: 50px 0 100px 0;
    text-align: center;

}

.habilidades-contenido {
    margin-top: 70px;
    gap: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.habilidades-contenido img {
    width: 70px;

}

/* DISEÑO RESPONSIVE 390PX*/
/* DISEÑO RESPONSIVE 390PX*/
/* DISEÑO RESPONSIVE 390PX*/
/* DISEÑO RESPONSIVE 390PX*/

@media (max-width:391px) {
    body {
        overflow-x: hidden;
    }

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(90deg,
                rgb(65, 20, 77) 0%,
                rgb(154, 37, 221) 100%);
        border: solid white;
        display: none;
    }



    .logo {
        font-size: 25px;
    }

    .menu .navbar ul li a span {
        color: white;
    }

    .menu .navbar ul li a:hover {
        color: #101630;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial
    }

    .contenedor-boton1,
    .contenedor-boton2 {
        display: flex;
        gap: 15px;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-top: -100px;
    }

    .contenedor-boton1 a,
    .contenedor-boton2 a {
        width: 100%;
    }

    /* AQUI FINALIZA EL RESPONSIVE DEL MENU NAVEGADOR */
    /* AQUI FINALIZA EL RESPONSIVE DEL MENU NAVEGADOR */
    /* AQUI FINALIZA EL RESPONSIVE DEL MENU NAVEGADOR */

    .header {
        min-height: 0vh;
        padding: 100px 30px 30px 30px;
    }

    .header-contenido {
        flex-direction: column;
        text-align: center;
    }

    .header-texto h1 {
        font-size: 50px;

    }



    .header-texto .escribiendo {
        display: block;

        white-space: nowrap;
        width: 9ch;
        font-size: 30px;
        font-weight: 600;
        color: var(--colorContraste2);

    }

    .btn {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 8px
    }

    .boton-cv {
        width: 100%;
        height: 20vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        width: 100%;
        font-size: 5px;
        margin: 0 auto;

    }

    /* AQUI FINALIZA EL HEADER Y SUS BOTONES */
    /* AQUI FINALIZA EL HEADER Y SUS BOTONES */
    .about {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .about-img {
        text-align: center;
        margin-top: -70px;
    }

    .about-texto h2 {
        font-size: 20px;
        text-align: center;
    }

    .about-img img {
        width: 250px;
        margin-bottom: 15px;
    }

    .botones a {
        margin: 5px 0 10px 0;
    }

    .portafolio {
        padding: 30px;
    }

    .portafolio-contenido {
        display: flex;
        flex-direction: column;
    }

    .portafolio-texto h3 {
        font-size: 17px;
    }

    .portafolio-texto p {
        font-size: 12px;
    }

    .btn-1 {
        font-size: 8px;
        padding: 5px 10px;
    }

    .portafolio h2 {
        text-align: center;

        font-size: 20px;


    }





    .portafolio-texto {
        text-align: center;
        margin-bottom: 30px;
    }

    .portafolio-1 {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .portafolio-img img {
        width: 200px;
    }

    .habilidades {
        padding: 0 30px 30px 30px;
    }

    .habilidades-contenido {
        margin-top: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 0 100px;

    }

    .habilidades h2 {
        font-size: 18px;
    }

    .habilidades-contenido img {

        width: 50%;
        margin: 0 auto;
    }

}

/* AQUI FINALIZA LA SECCION MAIN Y SKILLS. Footer ya es responsivo */



@media (max-width:1024px) {

    .contenedor {
        width: 800px;

    }

    .header-contenido {
        margin: 0 70px 0 70px;

    }



    .boton-cv {

        width: 100%;
        height: 10vh;
        display: grid;
        justify-content: center;
        font-size: 5px;
        gap: -50px;

    }

    .portafolio {
        margin-top: 100px;
        text-align: center;


    }

    .portafolio-contenido {
        margin-top: 70px;

    }
}
/* Gracias por visitar mi codigo */