
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan+SC&display=swap');


/* font-family: "Bebas Neue", sans-serif;
  font-family: "Poppins", sans-serif;

*/
:root {
    
        --tipografia:'Sedan SC', serif;
        --colorFondo:#031424;
        --colorClaro:#04293A;
        --colorTexto:#ffffff;
        --colorContraste:#ECB365;

}


* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
font-family: "Poppins", sans-serif;
background-color: var(--colorFondo);
}

/* AQUI EMPIEZA HEADER */
/* AQUI EMPIEZA HEADER */
 img {
    max-width: 100%;} 

    .contenedor{
       display: block;
        max-width: 1000vh;
        margin: 0 auto;
        
    }
  .menu{
   
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;}
  /* }space between para separarlos */
   .logo {
    color:aqua;
    
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
   } 
   .menu .navbar ul li{
    position:relative;
    float: right;
   
   }
   .menu .navbar ul li a{

    font-size: 18px;
    padding: 20px;
    color:var(--colorTexto);
    
    text-align: right;
    font-weight: 600;
    
   }
/* color de las letras al pasar el cursor por encima */
.menu .navbar ul li a:hover{
    color: aqua;
}

#menu {
   
    display: none;
}
.menu-icono {
    width: 25px;
}

.menu label{
cursor: pointer;
display: none;
/* icono de menu se muestra cuando la pagina se minimiza */
}
.header {
    
    display: block;
    align-items: center;
    min-height: 70vh;
    padding: 50px 0 0 0;
}

   
.header-contenido {
display: flex;
flex: 1;
}

.header-texto {
    flex-basis: 50%;
   margin: 50px 0 0 0;
    text-align: right;

}
.header-texto span {
    font-size: 30px;
    font-weight: 600;
    color: #868b9e;

}
 .header-texto h1 {
font-size: 100px;
color: var(--colorTexto);
line-height: 1;
font-family: "Bebas Neue", sans-serif;
margin: 50px o 25px 0;
 }

 .btn-1 {

display: inline-block;
padding: 13px 35px;
background: linear-gradient(
    90deg,
    rgba(78,159,215,1) 0%,
    rgba(74,42,193,1) 100%
);
color: var(--colorTexto);
text-transform: uppercase;
font-size: 15px;
border-radius: 17px;
}

.about {
padding: 0 0 100px 0;
display: flex;
align-items: center;
margin: 50px 0 0 50px;
}

.about-img {
    flex-basis: 40%;
}

.about-img img {
    width: 450px;
    border-radius: 15px;
    border: 5px solid rgb(68, 68, 250);
    
}

.about-texto {
   justify-content: center;
   
    margin: 0 50px 0 15px;
    flex-basis: 60%;}

h2 {
font-size: 40px;
text-transform: uppercase;
color: var(--colorTexto);


}
.about-texto p {
    color: var(--colorTexto);
    font-size: 17px;
    margin-bottom: 50px;
}

.botones a {

    margin-right: 15px;
}

/* aqui empieza MAIN  *//* aqui empieza MAIN  *//* aqui empieza MAIN  *//* aqui empieza MAIN  */
   

.portafolio {
padding: 50px 0;
text-align: center;
align-items: baseline;

}
.portafolio-contenido {
    margin-top: 70px;
}
.portafolio-1 {  
    display: grid;
    /* filas */
    /* 1fr -> me ocupe una fracción del espacio */
   
display: flex;
justify-content:center;
align-items: center;
margin-bottom: 100px;
}
.portafolio-texto{
    flex-basis: 50%;
    text-align-last: auto;
}
h2{
    font-size: 50px;
    color: aqua;
}

.portafolio-texto h3{
    color: var(--colorTexto);
   font-size: 35px;
   text-transform: capitalize;
   margin-bottom: 20px;
}


.portafolio-texto p {
    font-size: 17px;
    color: var(--colorTexto);
    margin-bottom: 25px;
}

.portafolio-img{
    flex-basis: 50%;
  
    /* Columnas  */
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.portafolio-img img {
    width: 350px;
    
}


















