@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan+SC&display=swap');


/* font-family: "Bebas Neue", sans-serif;
  font-family: "Poppins", sans-serif;

*/
:root {

    --tipografia: 'Sedan SC', serif;
    --colorFondo: #031424;
    --colorClaro: #04293A;
    --colorTexto: #badce2;
    --colorContraste: #1cbeea;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--colorFondo);
}

/* AQUI EMPIEZA HEADER */
/* AQUI EMPIEZA HEADER */
img {
    max-width: 100%;
}

.contenedor {

    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* }space between para separarlos */
.logo {
    color: aqua;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    text-shadow: #00c3ff;

}


.menu .navbar ul li a span {
    color: rgb(237, 192, 32)
}


.menu .navbar ul li a {

    font-size: 18px;
    padding: 20px;
    color: var(--colorTexto);
    display: block;
    font-weight: 600;

}

/* color de las letras al pasar el cursor por encima */
.menu .navbar ul li a:hover {
    color: aqua;
}

#menu {

    display: none;
}

.menu-icono {

    width: 25px;

}

.menu label {
    cursor: pointer;
    display: none;
    /* icono de menu se muestra cuando la pagina deja el modo escritorio(responsive) */
}

.header {

    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 50px 0 0 0;
}


.header-contenido {
    display: flex;
    flex: 1;
    justify-content: space-between
}

.header-texto {
    flex-basis: 50%;

}

.header-texto span {

    font-size: 40px;
    font-weight: 600;
    color: #868b9e;


}

.header-texto h1 {
    font-size: 100px;
    color: var(--colorTexto);
    line-height: 1;
    font-family: "Bebas Neue", sans-serif;
    margin: 10px 0 25px 0;
}

.btn-1 {

    display: inline-block;
    padding: 13px 35px;
    background: linear-gradient(90deg,
            rgba(78, 159, 215, 1) 0%,
            rgba(74, 42, 193, 1) 100%);
    color: var(--colorTexto);
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 17px;
}


.header-contenido .boton-cv {
    margin-top: 20px;
}




.btn {
    border-radius: 10%;
    text-transform: uppercase;
    position: relative;
    margin-right: 20px;
    padding: 12px 5px;
    text-decoration: none;
    color: white;
    letter-spacing: 5px;
    transition: all 2s ease;
}

/* .imagenes-botones{
    border: solid yellow;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center; */


.boton-cv img {
    width: 50px;
    height: 50px;

    
}
.imgimgimg{
    background-color: #e4fcff;
    border: solid 5px rgb(255, 255, 255);
}
.imgimgimg2{
    border: solid 5px rgb(255, 255, 255);;
}

.boton-cv {

    width: 35%;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    
    align-items: center;
    
    
    margin-left: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 15px;
    

}


.btn-2 {
    border: 3px solid;

}

.btn-2:hover {
    background-color: #001a2b;
    box-shadow: 0 0 20px var(--colorContraste);
    border-color: var(--colorContraste);
}

.btn-2 span:nth-child(n) {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid;
    transition: all 0.6s ease;

}

.btn-2 span:nth-child(1) {
    right: 10%;
    top: -10%;
    background-color: #ffffff;

}

.btn-2 span:nth-child(2) {
    left: 10%;
    bottom: -10%;
    background-color: #ffffff;
}

.btn-2:hover span:nth-child(1) {
    background-color: var(--colorContraste);
    color: var(--colorContraste);
    right: 80%;
    transform: rotate(90deg);
}

.btn-2:hover span:nth-child(2) {
    background-color: var(--colorContraste);
    left: 80%;
    color: var(--colorContraste);
    transform: rotate(90deg);
}

.btn-3 {
    border: solid 3px var(--colorContraste);

}

.btn-3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--colorContraste);
    z-index: -2;



}

.btn-3::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 220px;
    left: 0%;
    bottom: -80%;
    border-radius: 100%;
    background-color: var(--colorFondo);
    z-index: -1;


}

.btn-3:hover::before {
    animation: btn-3 2s linear both;
    animation-duration: 3s;
    /* cuantas veces queremos que se repita la animación */
    animation-iteration-count: infinite;
    /* forma en que queremos que se de el movimiento */
    animation-timing-function: ease-in-out;
    /* dirección de mi animación */
    animation-direction: alternate;
}

@keyframes btn-3 {
    0% {
        transform: rotate(0deg);


    }


    100% {
        transform: rotate(360deg);
    }
}

.about {

    padding: 0 0 10px 0;
    display: flex;
    align-items: center;

}

.about-img {
    flex-basis: 40%;
}

.about-img img {
    width: 500px;
    border-radius: 15px;
    border: 10px solid rgb(107, 107, 199);

}

.about-texto {
    justify-content: center;

    margin: 0 20px 0 3px;
    flex-basis: 60%;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: var(--colorTexto);
    margin-bottom: 20px;

}

.about-texto p {
    color: #868b9e;
    font-size: 17px;
    margin-bottom: 50px;
}

.botones a {

    margin-right: 15px;
}

/* aqui empieza MAIN  */
/* aqui empieza MAIN  */
/* aqui empieza MAIN  */
/* aqui empieza MAIN  */


.portafolio {
    padding: 50px 0;
    text-align: center;


}

.portafolio-contenido {
    margin-top: 70px;

}

.portafolio-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}

.portafolio-texto {
    flex-basis: 50%;
    text-align-last: auto;
    margin-bottom: 50px;
}

h2 {
    font-size: 50px;
    color: aqua;
}

.portafolio-texto h3 {
    color: var(--colorTexto);
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 20px;
}


.portafolio-texto p {
    font-size: 17px;
    color: var(--colorTexto);
    margin-bottom: 25px;
}

.portafolio-img {
    flex-basis: 50%;

    /* Columnas  */
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.portafolio-img img {
    width: 350px;

}

.habilidades {
    padding: 50px 0 100px 0;
    text-align: center;

}

.habilidades-contenido {
    margin-top: 70px;
    gap: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.habilidades-contenido img {
    width: 70px;

}




.footer {
    height: 40vh;
    background-color: black;
    ;
    padding: 80px 10px;

}

.footer-fila {
    display: flex;

}

.footer-links {
    width: 25%;
    padding: 0 15px;

}

.footer-links h4 {
    font-size: 17px;
    color: var(--colorContraste);
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 15px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 15px;
    color: rgb(134, 119, 119);
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

/* list-style: none; */

.footer-links ul li a:hover {
    color: #E2DED7;
    padding-left: 6px;

}

.social-link a {

    font-size: 20px;
    display: flex;

    transition: all .3S ease;
}

.social-link .wa {
    color: rgb(103, 213, 103);
}

.social-link .ig {
    color: rgb(68, 155, 202);
}




.social-link a:hover {
    color: rgb(248, 226, 226);
}

@media (max-width:391px) {
    .body {
        overflow-x: hidden;
    }

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(90deg,
                rgba(78, 159, 215, 1) 0%,
                rgba(74, 42, 193, 1) 100%);
        display: none;
    }

    .logo {
        font-size: 25px;
    }

    .menu .navbar ul li a:hover {
        color: #101630;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial
    }

    .header {
        min-height: 0vh;
        padding: 100px 30px 30px 30px;
    }

    .header-contenido {
        flex-direction: column;
        text-align: center;
    }

    .header-texto h1 {
        font-size: 70px;
    }

    .btn {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        font-size: 8px
    }
}

.about {
    padding: 30px;
    flex-direction: column;
    text-align: center;
}

.about-img {
    text-align: center;
}

.about-img img {
    width: 250px;
    margin-bottom: 15px;
}

.botones a {
    margin: 5px 0 10px 0;
}

.portafolio {
    padding: 30px;
}

.portafolio-contenido {
    margin-top: 30px;
}

.portafolio-texto {
    text-align: center;
    margin-bottom: 30px;
}

.portafolio-1 {
    flex-direction: column;
    margin-bottom: 30px;
}

.portafolio-img img {
    width: 200px;
}

.habilidades {
    padding: 0 30px 30px 30px;
}

.habilidades-contenido {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 0 100px;

}

h2 {
    font-size: 38px;
}

.footer {
    padding: 60px;
}

.footer-contenido {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 50px;
}
}